/* All */
* {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-decoration: none;
    color: #000;
}

/* Title component */
.main-title-box ul {
    list-style: none;
    font-size: 20px;
    display: inline-block;
    position: relative;
    text-decoration: none;
    text-align: center;
}

.main-title-box li {
    text-decoration: none;
}

.main-title-box {
    margin: 27px auto 0;
    position: relative;
    width: 550px;
    height: 60px;
    background-color: #eee;
    border-radius: 20px;
}